# Maven
selenium-ui-test/target/
selenium-ui-test/.idea/
selenium-ui-test/*.iml
selenium-ui-test/dependency-reduced-pom.xml

# Reports & artifacts (giữ folder rỗng nhưng không commit output)
**/reports/*.html
**/reports/screenshots/
**/reports/dashboard-*/
**/reports/results.jtl
**/reports/extent-report*.html
**/reports/newman-report*.html

# JMeter
jmeter.log
jmeter-perf-test/test-plans/*.jmx.bak

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
